#myID{
    color:purple;
}
.myClass{
	color:#A52A2A;
}
h1{
    background-color:pink;
}
*{
    font-family:'Courier New', Courier, monospace;
}
body{
    background-image:url("5ethereum.jpg");
}
.classDash{
    border-style:dashed;
}
.classVaried{
    border-top-style:solid;
    border-right-style:dotted;
    border-bottom-style:double;
    border-left-style:outset;
}
div{
    float:left;
}
form{
    float:right;
}